&coupler
  mf6_model_name     = 'LITTLERIVER'
  rch_package_name   = 'RCHA'
  bnd_package_names  = 'SFR', 'DRN'
  bnd_package_roles  = 'baseflow', 'surface_discharge'
  map_file           = '../domain_littleriver/hru2cell_map.txt'
  mf6_epsg           = 0         ! an explicit map_file is supplied
  feedback           = .true.
/
